In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
import xgboost as xgb
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score, mean_absolute_error, median_absolute_error, accuracy_score, precision_score,recall_score, f1_score, confusion_matrix, classification_report
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from math import sqrt

In [20]:
#Loading test data with Ordinal predicted value 
Test_od =  pd.read_csv('test_df_Ordinal.csv')
Test_od.head()

,Unnamed: 0,ID,Transaction unique identifier,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,...,LIGHTING_ENV_EFF,MAIN_FUEL,ADDRESS,CONSTITUENCY_LABEL,Year,y_test,y_predLR,y_predRM,y_predXGB,y_predLASSO
0,0,0,{5A77BC03-713A-4035-B903-5672E7238836},35000,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,1995,35000.0,90763.793052,260000.0,189954.71875,90763.736737
1,1,1,{0B4E5EDA-15C3-410B-823C-4EC87A508052},33000,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2000,33000.0,111291.926596,260000.0,189954.71875,111291.873808
2,2,2,{5337E544-5DCF-4130-B7C0-48C7916EAE55},54650,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2001,54650.0,115397.553305,260000.0,189954.71875,115397.501222
3,3,3,{BB19E2CF-3C1E-4C9E-8096-FFCDC4495F84},115000,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2005,115000.0,131820.060140,260000.0,189954.71875,131820.010879
4,4,4,{CB2B2819-C4DB-4145-9F64-5674723FBAFF},36000,cv15ps,T,N,F,35,lower ford street,...,Very Good,mains gas - this is for backwards compatibilit...,"35, Lower Ford Street",Coventry South,1995,36000.0,269654.732884,180000.0,264216.00000,269654.717024

In [51]:
#Loading test data with Ordinal predicted value without year attribute
Test_od1 =  pd.read_csv('test_df_Ordinal.csv')
Test_od1.head()

,Unnamed: 0,ID,Transaction unique identifier,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,...,LIGHTING_ENV_EFF,MAIN_FUEL,ADDRESS,CONSTITUENCY_LABEL,Year,y_test,y_predLR,y_predRM,y_predXGB,y_predLASSO
0,0,0,{5A77BC03-713A-4035-B903-5672E7238836},35000,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,1995,35000.0,90763.793052,260000.0,189954.71875,90763.736737
1,1,1,{0B4E5EDA-15C3-410B-823C-4EC87A508052},33000,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2000,33000.0,111291.926596,260000.0,189954.71875,111291.873808
2,2,2,{5337E544-5DCF-4130-B7C0-48C7916EAE55},54650,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2001,54650.0,115397.553305,260000.0,189954.71875,115397.501222
3,3,3,{BB19E2CF-3C1E-4C9E-8096-FFCDC4495F84},115000,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2005,115000.0,131820.060140,260000.0,189954.71875,131820.010879
4,4,4,{CB2B2819-C4DB-4145-9F64-5674723FBAFF},36000,cv15ps,T,N,F,35,lower ford street,...,Very Good,mains gas - this is for backwards compatibilit...,"35, Lower Ford Street",Coventry South,1995,36000.0,269654.732884,180000.0,264216.00000,269654.717024

In [9]:
##Loading test data with One hot  predicted value
Test_ot =  pd.read_csv('test_df_One_hot2.csv')
Test_ot.head()

,Unnamed: 0,ID,Transaction unique identifier,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,...,LIGHTING_ENV_EFF,MAIN_FUEL,ADDRESS,CONSTITUENCY_LABEL,Year,y_test,y_predLR1,y_predRM1,y_predXGB1,y_predLASSO1
0,0,0,{5A77BC03-713A-4035-B903-5672E7238836},35000,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,1995,35000.0,22931.5625,150000.0,178851.171875,23141.943185
1,1,1,{0B4E5EDA-15C3-410B-823C-4EC87A508052},33000,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2000,33000.0,49475.1250,150000.0,178851.171875,49690.722841
2,2,2,{5337E544-5DCF-4130-B7C0-48C7916EAE55},54650,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2001,54650.0,54783.8125,150000.0,178851.171875,55000.478772
3,3,3,{BB19E2CF-3C1E-4C9E-8096-FFCDC4495F84},115000,cv35pq,T,N,F,36,calvert close,...,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2005,115000.0,76018.6250,150000.0,178851.171875,76239.502497
4,4,4,{CB2B2819-C4DB-4145-9F64-5674723FBAFF},36000,cv15ps,T,N,F,35,lower ford street,...,Very Good,mains gas - this is for backwards compatibilit...,"35, Lower Ford Street",Coventry South,1995,36000.0,-32842.4375,160000.0,243289.859375,-32709.117422

In [ ]:
##Loading test data with One hot predicted value without year attributes
Test_ot1 =  pd.read_csv('test_df_One_hot1.csv')
Test_ot1.shape

In [22]:
Test_od.shape

(94616, 60)

In [23]:
Test_ot.shape

(94616, 59)

In [24]:
Test_od.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94616 entries, 0 to 94615
Data columns (total 60 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     94616 non-null  int64
 1   ID                             94616 non-null  int64
 2   Transaction unique identifier  94616 non-null  object
 3   Price                          94616 non-null  int64
 4   Postcode                       94616 non-null  object
 5   Property Type                  94616 non-null  object
 6   Old/New                        94616 non-null  object
 7   Duration                       94616 non-null  object
 8   PAON                           94616 non-null  object
 9   Street_x                       94616 non-null  object
 10  District                       94616 non-null  object
 11  County                         94616 non-null  object
 12  PPD Category Type              94616 non-null  object
 13  CURRENT_ENERGY_RATING          94616 non-null  object
 14  POTENTIAL_ENERGY_RATING        94616 non-null  object
 15  CURRENT_ENERGY_EFFICIENCY      94616 non-null  int64
 16  POTENTIAL_ENERGY_EFFICIENCY    94616 non-null  int64
 17  PROPERTY_TYPE                  94616 non-null  object
 18  BUILT_FORM                     94616 non-null  object
 19  CONSTITUENCY                   94616 non-null  object
 20  TRANSACTION_TYPE               94616 non-null  object
 21  ENVIRONMENT_IMPACT_CURRENT     94616 non-null  int64
 22  ENVIRONMENT_IMPACT_POTENTIAL   94616 non-null  int64
 23  ENERGY_CONSUMPTION_CURRENT     94616 non-null  int64
 24  ENERGY_CONSUMPTION_POTENTIAL   94616 non-null  int64
 25  CO2_EMISSIONS_CURRENT          94616 non-null  float64
 26  CO2_EMISS_CURR_PER_FLOOR_AREA  94616 non-null  float64
 27  CO2_EMISSIONS_POTENTIAL        94616 non-null  float64
 28  LIGHTING_COST_CURRENT          94616 non-null  int64
 29  LIGHTING_COST_POTENTIAL        94616 non-null  int64
 30  HEATING_COST_CURRENT           94616 non-null  float64
 31  HEATING_COST_POTENTIAL         94616 non-null  float64
 32  HOT_WATER_COST_CURRENT         94616 non-null  int64
 33  HOT_WATER_COST_POTENTIAL       94616 non-null  int64
 34  TOTAL_FLOOR_AREA               94616 non-null  float64
 35  ENERGY_TARIFF                  94616 non-null  object
 36  EXTENSION_COUNT                94616 non-null  float64
 37  NUMBER_HABITABLE_ROOMS         94616 non-null  float64
 38  NUMBER_HEATED_ROOMS            94616 non-null  float64
 39  HOT_WATER_ENERGY_EFF           94616 non-null  object
 40  HOT_WATER_ENV_EFF              94616 non-null  object
 41  WINDOWS_ENERGY_EFF             94616 non-null  object
 42  WINDOWS_ENV_EFF                94616 non-null  object
 43  WALLS_ENERGY_EFF               94616 non-null  object
 44  WALLS_ENV_EFF                  94616 non-null  object
 45  MAINHEAT_ENERGY_EFF            94616 non-null  object
 46  MAINHEAT_ENV_EFF               94616 non-null  object
 47  MAINHEATC_ENERGY_EFF           94616 non-null  object
 48  MAINHEATC_ENV_EFF              94616 non-null  object
 49  LIGHTING_ENERGY_EFF            94616 non-null  object
 50  LIGHTING_ENV_EFF               94616 non-null  object
 51  MAIN_FUEL                      94616 non-null  object
 52  ADDRESS                        94616 non-null  object
 53  CONSTITUENCY_LABEL             94616 non-null  object
 54  Year                           94616 non-null  int64
 55  y_test                         94616 non-null  float64
 56  y_predLR                       83009 non-null  float64
 57  y_predRM                       83009 non-null  float64
 58  y_predXGB                      83009 non-null  float64
 59  y_predLASSO                    83009 non-null  float64
dtypes: float64(14), int64(14), object(32)
memory usage: 43.3+ MB

In [25]:
#defining function to fetch the data from the dataset according to the input given by the user
def filterdata(Test_od, Postcode, Rooms, EnergyRating,PropertyType,TotalArea):
    data = Test_od.query('Postcode == @Postcode & NUMBER_HABITABLE_ROOMS == @Rooms')
    return data

In [36]:
#to test the LR modelling result without year attribute
def filterdata1(Test_od1, Postcode, Rooms, EnergyRating,PropertyType,TotalArea):
    data1 = Test_od1.query('Postcode == @Postcode & NUMBER_HABITABLE_ROOMS == @Rooms')
    return data1

In [10]:
def filterdata2(Test_ot, Postcode, Rooms, EnergyRating,PropertyType,TotalArea):
    data2 = Test_ot.query('Postcode == @Postcode & NUMBER_HABITABLE_ROOMS == @Rooms')
    return data2

In [45]:
def filterdata3(Test_ot1, Postcode, Rooms, EnergyRating,PropertyType,TotalArea):
    data3 = Test_ot1.query('Postcode == @Postcode & NUMBER_HABITABLE_ROOMS == @Rooms')
    return data3

In [28]:
#Testing Predicted Price for different Modelling with ordinal encoding 
Postcode = input('Enter Postcode: ')
Rooms = int(input('Enter no. of rooms: '))
EnergyRating = input('Enter EnergyRating: ')
PropertyType = input('Enter PropertyType: ')
TotalArea = input('Enter TotalArea: ')
df = filterdata(Test_od, Postcode, Rooms, EnergyRating,PropertyType,TotalArea)
Result = df[['Price', 'Postcode','Property Type','Old/New','PROPERTY_TYPE','BUILT_FORM','CURRENT_ENERGY_RATING','ADDRESS','Year','y_predLR', 'y_predRM','y_predXGB','y_predLASSO']]
Result.head()

Enter Postcode: cv35pq
Enter no. of rooms: 4
Enter EnergyRating: D
Enter PropertyType: T
Enter TotalArea: 555

,Price,Postcode,Property Type,Old/New,PROPERTY_TYPE,BUILT_FORM,CURRENT_ENERGY_RATING,ADDRESS,Year,y_predLR,y_predRM,y_predXGB,y_predLASSO
0,35000,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",1995,90763.793052,260000.0,189954.71875,90763.736737
1,33000,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",2000,111291.926596,260000.0,189954.71875,111291.873808
2,54650,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",2001,115397.553305,260000.0,189954.71875,115397.501222
3,115000,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",2005,131820.060140,260000.0,189954.71875,131820.010879

In [38]:
#Testing Predicted Price for different Modelling with ordinal encoding
#Included LR prediction after rmoving Year from dataset
Postcode = input('Enter Postcode: ')
Rooms = int(input('Enter no. of rooms: '))
EnergyRating = input('Enter EnergyRating: ')
PropertyType = input('Enter PropertyType: ')
TotalArea = input('Enter TotalArea: ')
df = filterdata1(Test_od1, Postcode, Rooms, EnergyRating,PropertyType,TotalArea)
#df.head()
Result1 = df[['Price', 'Postcode','Property Type','Old/New','PROPERTY_TYPE','BUILT_FORM','CURRENT_ENERGY_RATING','ADDRESS','Year','y_predLR','y_predLR1','y_predRM','y_predXGB','y_predLASSO']]
Result1.head()

Enter Postcode: cv35pq
Enter no. of rooms: 4
Enter EnergyRating: D
Enter PropertyType: T
Enter TotalArea: 456

,Price,Postcode,Property Type,Old/New,PROPERTY_TYPE,BUILT_FORM,CURRENT_ENERGY_RATING,ADDRESS,Year,y_predLR,y_predLR1,y_predRM,y_predXGB,y_predLASSO
0,35000,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",1995,90763.793052,186333.953589,260000.0,189954.71875,90763.736737
1,33000,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",2000,111291.926596,186333.953589,260000.0,189954.71875,111291.873808
2,54650,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",2001,115397.553305,186333.953589,260000.0,189954.71875,115397.501222
3,115000,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",2005,131820.060140,186333.953589,260000.0,189954.71875,131820.010879

In [12]:
#Testing Predicted Price for different Modelling with one hot encoding
Postcode = input('Enter Postcode: ')
Rooms = int(input('Enter no. of rooms: '))
EnergyRating = input('Enter EnergyRating: ')
PropertyType = input('Enter PropertyType: ')
TotalArea = input('Enter TotalArea: ')
df = filterdata2(Test_ot, Postcode, Rooms, EnergyRating,PropertyType,TotalArea)
Result = df[['Price', 'Postcode','Property Type','Old/New','PROPERTY_TYPE','BUILT_FORM','CURRENT_ENERGY_RATING','ADDRESS','Year','y_predLR1', 'y_predRM1','y_predXGB1','y_predLASSO1']]
Result.head()

Enter Postcode: cv15ps
Enter no. of rooms: 9
Enter EnergyRating: C
Enter PropertyType: T
Enter TotalArea: 456

,Price,Postcode,Property Type,Old/New,PROPERTY_TYPE,BUILT_FORM,CURRENT_ENERGY_RATING,ADDRESS,Year,y_predLR1,y_predRM1,y_predXGB1,y_predLASSO1
4,36000,cv15ps,T,N,House,End-Terrace,C,"35, Lower Ford Street",1995,-32842.4375,160000.0,243289.859375,-32709.117422
5,36000,cv15ps,T,N,House,Mid-Terrace,D,"35, Lower Ford Street",1995,-58209.0625,225000.0,298781.250000,-58071.059600
6,12000,cv15ps,T,N,House,End-Terrace,C,"35, Lower Ford Street",1995,-32842.4375,160000.0,243289.859375,-32709.117422
7,12000,cv15ps,T,N,House,Mid-Terrace,D,"35, Lower Ford Street",1995,-58209.0625,225000.0,298781.250000,-58071.059600
8,65000,cv15ps,T,N,House,End-Terrace,C,"35, Lower Ford Street",2004,14935.9375,160000.0,243289.859375,15078.685959

In [14]:
#Testing Predicted Price for different Modelling with one hot encoding
Postcode = input('Enter Postcode: ')
Rooms = int(input('Enter no. of rooms: '))
EnergyRating = input('Enter EnergyRating: ')
PropertyType = input('Enter PropertyType: ')
TotalArea = input('Enter TotalArea: ')
df = filterdata2(Test_ot, Postcode, Rooms, EnergyRating,PropertyType,TotalArea)
Result = df[['Price', 'Postcode','Property Type','Old/New','PROPERTY_TYPE','BUILT_FORM','CURRENT_ENERGY_RATING','ADDRESS','Year','y_predLR1', 'y_predRM1','y_predXGB1','y_predLASSO1']]
Result.head()

Enter Postcode: cv35pq
Enter no. of rooms: 4
Enter EnergyRating: C
Enter PropertyType: T
Enter TotalArea: 435

,Price,Postcode,Property Type,Old/New,PROPERTY_TYPE,BUILT_FORM,CURRENT_ENERGY_RATING,ADDRESS,Year,y_predLR1,y_predRM1,y_predXGB1,y_predLASSO1
0,35000,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",1995,22931.5625,150000.0,178851.171875,23141.943185
1,33000,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",2000,49475.1250,150000.0,178851.171875,49690.722841
2,54650,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",2001,54783.8125,150000.0,178851.171875,55000.478772
3,115000,cv35pq,T,N,House,End-Terrace,D,"36, Calvert Close",2005,76018.6250,150000.0,178851.171875,76239.502497

In [46]:
#Testing Predicted Price for different Modelling with one hot encoding
#Including reault for LR without year attribute
Postcode = input('Enter Postcode: ')
Rooms = int(input('Enter no. of rooms: '))
EnergyRating = input('Enter EnergyRating: ')
PropertyType = input('Enter PropertyType: ')
TotalArea = input('Enter TotalArea: ')
df = filterdata3(Test_ot1, Postcode, Rooms, EnergyRating,PropertyType,TotalArea)
Result = df[['Price', 'Postcode','Property Type','Old/New','PROPERTY_TYPE','BUILT_FORM','CURRENT_ENERGY_RATING','ADDRESS','Year','y_predLR1','y_predLR_New', 'y_predRM1','y_predXGB1']]
Result.head()

Enter Postcode: cv15ps
Enter no. of rooms: 9
Enter EnergyRating: C
Enter PropertyType: T
Enter TotalArea: 436

,Price,Postcode,Property Type,Old/New,PROPERTY_TYPE,BUILT_FORM,CURRENT_ENERGY_RATING,ADDRESS,Year,y_predLR1,y_predLR_New,y_predRM1,y_predXGB1
4,36000,cv15ps,T,N,House,End-Terrace,C,"35, Lower Ford Street",1995,-32842.4375,90211.640625,225000.0,243289.859375
5,36000,cv15ps,T,N,House,Mid-Terrace,D,"35, Lower Ford Street",1995,-58209.0625,63593.921875,300000.0,298781.250000
6,12000,cv15ps,T,N,House,End-Terrace,C,"35, Lower Ford Street",1995,-32842.4375,90211.640625,225000.0,243289.859375
7,12000,cv15ps,T,N,House,Mid-Terrace,D,"35, Lower Ford Street",1995,-58209.0625,63593.921875,300000.0,298781.250000
8,65000,cv15ps,T,N,House,End-Terrace,C,"35, Lower Ford Street",2004,14935.9375,90211.640625,225000.0,243289.859375

In [47]:
pip install streamlit

Collecting streamlit
Note: you may need to restart the kernel to use updated packages.
  Downloading streamlit-1.2.0-py2.py3-none-any.whl (9.1 MB)
Collecting blinker
  Downloading blinker-1.4.tar.gz (111 kB)
Collecting cachetools>=4.0
  Downloading cachetools-4.2.4-py3-none-any.whl (10 kB)
Requirement already satisfied: click<8.0,>=7.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (7.1.2)
Collecting astor
  Downloading astor-0.8.1-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: tornado>=5.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (6.1)
Requirement already satisfied: watchdog in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (1.0.2)
Collecting validators
  Downloading validators-0.18.2-py3-none-any.whl (19 kB)
Collecting pydeck>=0.1.dev5
  Downloading pydeck-0.7.1-py2.py3-none-any.whl (4.3 MB)
Collecting pympler>=0.9
  Downloading Pympler-0.9.tar.gz (178 kB)
Requirement already satisfied: pandas>=0.21.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (1.2.4)
Requirement already satisfied: packaging in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (20.9)
Requirement already satisfied: numpy in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (1.20.1)
Requirement already satisfied: attrs in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (20.3.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (8.2.0)
Requirement already satisfied: toml in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: requests in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (2.25.1)
Collecting pyarrow
  Downloading pyarrow-6.0.1-cp38-cp38-win_amd64.whl (15.5 MB)
Requirement already satisfied: python-dateutil in c:\users\gpathak2\anaconda3\lib\site-packages (from streamlit) (2.8.1)
Collecting altair>=3.2.0
  Downloading altair-4.1.0-py3-none-any.whl (727 kB)
Collecting protobuf!=3.11,>=3.6.0
  Downloading protobuf-3.19.1-cp38-cp38-win_amd64.whl (895 kB)
Collecting tzlocal
  Downloading tzlocal-4.1-py3-none-any.whl (19 kB)
Collecting base58
  Downloading base58-2.1.1-py3-none-any.whl (5.6 kB)
Collecting gitpython!=3.1.19
  Downloading GitPython-3.1.24-py3-none-any.whl (180 kB)
Requirement already satisfied: jsonschema in c:\users\gpathak2\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (3.2.0)
Requirement already satisfied: jinja2 in c:\users\gpathak2\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: entrypoints in c:\users\gpathak2\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (0.3)
Requirement already satisfied: toolz in c:\users\gpathak2\anaconda3\lib\site-packages (from altair>=3.2.0->streamlit) (0.11.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\gpathak2\anaconda3\lib\site-packages (from gitpython!=3.1.19->streamlit) (3.7.4.3)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pytz>=2017.3 in c:\users\gpathak2\anaconda3\lib\site-packages (from pandas>=0.21.0->streamlit) (2021.1)
Requirement already satisfied: ipykernel>=5.1.2 in c:\users\gpathak2\anaconda3\lib\site-packages (from pydeck>=0.1.dev5->streamlit) (5.3.4)
Requirement already satisfied: traitlets>=4.3.2 in c:\users\gpathak2\anaconda3\lib\site-packages (from pydeck>=0.1.dev5->streamlit) (5.0.5)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from pydeck>=0.1.dev5->streamlit) (7.6.3)
Requirement already satisfied: jupyter-client in c:\users\gpathak2\anaconda3\lib\site-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (6.1.12)
Requirement already satisfied: ipython>=5.0.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (7.22.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\gpathak2\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (52.0.0.post20210125)
Requirement already satisfied: decorator in c:\users\gpathak2\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (5.0.6)
Requirement already satisfied: jedi>=0.16 in c:\users\gpathak2\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.17.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (3.0.17)
Requirement already satisfied: colorama in c:\users\gpathak2\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.4.4)
Requirement already satisfied: pygments in c:\users\gpathak2\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (2.8.1)
Requirement already satisfied: pickleshare in c:\users\gpathak2\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.5)
Requirement already satisfied: backcall in c:\users\gpathak2\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (3.5.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.0.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\gpathak2\anaconda3\lib\site-packages (from jinja2->altair>=3.2.0->streamlit) (1.1.1)
Requirement already satisfied: ipython-genutils in c:\users\gpathak2\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: jupyter-core in c:\users\gpathak2\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (4.7.1)
Requirement already satisfied: six>=1.11.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from jsonschema->altair>=3.2.0->streamlit) (1.15.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from jsonschema->altair>=3.2.0->streamlit) (0.17.3)
Requirement already satisfied: wcwidth in c:\users\gpathak2\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\gpathak2\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (6.3.0)
Requirement already satisfied: argon2-cffi in c:\users\gpathak2\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (20.1.0)
Requirement already satisfied: prometheus-client in c:\users\gpathak2\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.10.1)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.5.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\gpathak2\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.9.4)
Requirement already satisfied: nbconvert in c:\users\gpathak2\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (6.0.7)
Requirement already satisfied: pyzmq>=17 in c:\users\gpathak2\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (20.0.0)
Requirement already satisfied: pywin32>=1.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (227)
Requirement already satisfied: pywinpty>=0.5 in c:\users\gpathak2\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.14.5)
Requirement already satisfied: pycparser in c:\users\gpathak2\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (2.20)
Requirement already satisfied: testpath in c:\users\gpathak2\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.4.4)
Requirement already satisfied: jupyterlab-pygments in c:\users\gpathak2\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.1.2)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\gpathak2\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\gpathak2\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.8.4)
Requirement already satisfied: defusedxml in c:\users\gpathak2\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\gpathak2\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.4.3)
Requirement already satisfied: bleach in c:\users\gpathak2\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (3.3.0)
Requirement already satisfied: nest-asyncio in c:\users\gpathak2\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.5.1)
Requirement already satisfied: async-generator in c:\users\gpathak2\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.10)
Requirement already satisfied: webencodings in c:\users\gpathak2\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\gpathak2\anaconda3\lib\site-packages (from packaging->streamlit) (2.4.7)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\gpathak2\anaconda3\lib\site-packages (from requests->streamlit) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\gpathak2\anaconda3\lib\site-packages (from requests->streamlit) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gpathak2\anaconda3\lib\site-packages (from requests->streamlit) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\gpathak2\anaconda3\lib\site-packages (from requests->streamlit) (2.10)
Collecting backports.zoneinfo
  Downloading backports.zoneinfo-0.2.1-cp38-cp38-win_amd64.whl (38 kB)
Collecting tzdata
  Downloading tzdata-2021.5-py2.py3-none-any.whl (339 kB)
Collecting pytz-deprecation-shim
  Downloading pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl (15 kB)
Building wheels for collected packages: pympler, blinker
  Building wheel for pympler (setup.py): started
  Building wheel for pympler (setup.py): finished with status 'done'
  Created wheel for pympler: filename=Pympler-0.9-py3-none-any.whl size=164803 sha256=b286c36aac11eccd6da8ab028787ad7961b0b83dd43746a85950f1e6dae83d18
  Stored in directory: c:\users\gpathak2\appdata\local\pip\cache\wheels\24\6f\0b\da9f81234859a8741aaea3afcc6ae2daf0efb67e7ff2d3686c
  Building wheel for blinker (setup.py): started
  Building wheel for blinker (setup.py): finished with status 'done'
  Created wheel for blinker: filename=blinker-1.4-py3-none-any.whl size=13451 sha256=a627bcbe27e3cd5a37ab48a42b7b89c5fc104cbcf3ddd802d4c6907ad0e5112b
  Stored in directory: c:\users\gpathak2\appdata\local\pip\cache\wheels\b7\a5\68\fe632054a5eadd531c7a49d740c50eb6adfbeca822b4eab8d4
Successfully built pympler blinker
Installing collected packages: tzdata, smmap, backports.zoneinfo, pytz-deprecation-shim, gitdb, validators, tzlocal, pympler, pydeck, pyarrow, protobuf, gitpython, cachetools, blinker, base58, astor, altair, streamlit
Successfully installed altair-4.1.0 astor-0.8.1 backports.zoneinfo-0.2.1 base58-2.1.1 blinker-1.4 cachetools-4.2.4 gitdb-4.0.9 gitpython-3.1.24 protobuf-3.19.1 pyarrow-6.0.1 pydeck-0.7.1 pympler-0.9 pytz-deprecation-shim-0.1.0.post0 smmap-5.0.0 streamlit-1.2.0 tzdata-2021.5 tzlocal-4.1 validators-0.18.2

In [48]:
import streamlit as st

In [49]:
st.set_page_config(page_title="Predicted Price", page_icon=":bar_chart:", layout="wide")

In [ ]:
st.dataframe(Test_od)