In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
jd = pd.read_csv('jd.csv')
jd.head()

,Unnamed: 0,Transaction unique identifier,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,...,MAINHEAT_ENERGY_EFF,MAINHEAT_ENV_EFF,MAINHEATC_ENERGY_EFF,MAINHEATC_ENV_EFF,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,ADDRESS,CONSTITUENCY_LABEL,Year
0,0,{5A77BC03-713A-4035-B903-5672E7238836},35000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,1995
1,1,{0B4E5EDA-15C3-410B-823C-4EC87A508052},33000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2000
2,2,{5337E544-5DCF-4130-B7C0-48C7916EAE55},54650,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2001
3,3,{BB19E2CF-3C1E-4C9E-8096-FFCDC4495F84},115000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2005
4,4,{CB2B2819-C4DB-4145-9F64-5674723FBAFF},36000,cv15ps,T,N,F,35,lower ford street,COVENTRY,...,Good,Good,Average,Average,Very Good,Very Good,mains gas - this is for backwards compatibilit...,"35, Lower Ford Street",Coventry South,1995

In [6]:
jd = jd.drop(columns=['Transaction unique identifier', 'ADDRESS','Unnamed: 0'])
jd.shape

(115372, 51)

In [5]:
jd.head()

,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,County,PPD Category Type,...,WALLS_ENV_EFF,MAINHEAT_ENERGY_EFF,MAINHEAT_ENV_EFF,MAINHEATC_ENERGY_EFF,MAINHEATC_ENV_EFF,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,CONSTITUENCY_LABEL,Year
0,35000,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,Average,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,Coventry South,1995
1,33000,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,Average,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,Coventry South,2000
2,54650,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,Average,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,Coventry South,2001
3,115000,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,Average,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,Coventry South,2005
4,36000,cv15ps,T,N,F,35,lower ford street,COVENTRY,WEST MIDLANDS,A,...,Poor,Good,Good,Average,Average,Very Good,Very Good,mains gas - this is for backwards compatibilit...,Coventry South,1995

In [6]:
jd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115372 entries, 0 to 115371
Data columns (total 51 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Price                          115372 non-null  int64
 1   Postcode                       115372 non-null  object
 2   Property Type                  115372 non-null  object
 3   Old/New                        115372 non-null  object
 4   Duration                       115372 non-null  object
 5   PAON                           115372 non-null  object
 6   Street_x                       115372 non-null  object
 7   District                       115372 non-null  object
 8   County                         115372 non-null  object
 9   PPD Category Type              115372 non-null  object
 10  CURRENT_ENERGY_RATING          115372 non-null  object
 11  POTENTIAL_ENERGY_RATING        115372 non-null  object
 12  CURRENT_ENERGY_EFFICIENCY      115372 non-null  int64
 13  POTENTIAL_ENERGY_EFFICIENCY    115372 non-null  int64
 14  PROPERTY_TYPE                  115372 non-null  object
 15  BUILT_FORM                     115372 non-null  object
 16  CONSTITUENCY                   115372 non-null  object
 17  TRANSACTION_TYPE               115372 non-null  object
 18  ENVIRONMENT_IMPACT_CURRENT     115372 non-null  int64
 19  ENVIRONMENT_IMPACT_POTENTIAL   115372 non-null  int64
 20  ENERGY_CONSUMPTION_CURRENT     115372 non-null  int64
 21  ENERGY_CONSUMPTION_POTENTIAL   115372 non-null  int64
 22  CO2_EMISSIONS_CURRENT          115372 non-null  float64
 23  CO2_EMISS_CURR_PER_FLOOR_AREA  115372 non-null  float64
 24  CO2_EMISSIONS_POTENTIAL        115372 non-null  float64
 25  LIGHTING_COST_CURRENT          115372 non-null  int64
 26  LIGHTING_COST_POTENTIAL        115372 non-null  int64
 27  HEATING_COST_CURRENT           115372 non-null  float64
 28  HEATING_COST_POTENTIAL         115372 non-null  float64
 29  HOT_WATER_COST_CURRENT         115372 non-null  int64
 30  HOT_WATER_COST_POTENTIAL       115372 non-null  int64
 31  TOTAL_FLOOR_AREA               115372 non-null  float64
 32  ENERGY_TARIFF                  115372 non-null  object
 33  EXTENSION_COUNT                115372 non-null  float64
 34  NUMBER_HABITABLE_ROOMS         115372 non-null  float64
 35  NUMBER_HEATED_ROOMS            115372 non-null  float64
 36  HOT_WATER_ENERGY_EFF           115372 non-null  object
 37  HOT_WATER_ENV_EFF              115372 non-null  object
 38  WINDOWS_ENERGY_EFF             115372 non-null  object
 39  WINDOWS_ENV_EFF                115372 non-null  object
 40  WALLS_ENERGY_EFF               115372 non-null  object
 41  WALLS_ENV_EFF                  115372 non-null  object
 42  MAINHEAT_ENERGY_EFF            115372 non-null  object
 43  MAINHEAT_ENV_EFF               115372 non-null  object
 44  MAINHEATC_ENERGY_EFF           115372 non-null  object
 45  MAINHEATC_ENV_EFF              115372 non-null  object
 46  LIGHTING_ENERGY_EFF            115372 non-null  object
 47  LIGHTING_ENV_EFF               115372 non-null  object
 48  MAIN_FUEL                      115372 non-null  object
 49  CONSTITUENCY_LABEL             115372 non-null  object
 50  Year                           115372 non-null  int64
dtypes: float64(9), int64(12), object(30)
memory usage: 44.9+ MB

In [7]:
jd = jd.drop(columns=['ENVIRONMENT_IMPACT_POTENTIAL', 'ENERGY_CONSUMPTION_POTENTIAL','POTENTIAL_ENERGY_RATING',
                     'POTENTIAL_ENERGY_EFFICIENCY', 'CO2_EMISSIONS_POTENTIAL','LIGHTING_COST_POTENTIAL','HEATING_COST_POTENTIAL',
                     'HOT_WATER_COST_POTENTIAL'])
jd.shape

(115372, 43)

In [8]:
HOT_WATER_ENERGY_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']

In [9]:
CURRENT_ENERGY_RATING = ['G','F','E','D','C','B','A']

In [10]:
HOT_WATER_ENV_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']

In [12]:
WINDOWS_ENERGY_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']
WINDOWS_ENV_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']
WALLS_ENERGY_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']
WALLS_ENV_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']
MAINHEAT_ENERGY_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']
MAINHEAT_ENV_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']
MAINHEATC_ENERGY_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']
MAINHEATC_ENV_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']
LIGHTING_ENERGY_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']
LIGHTING_ENV_EFF = ['N/A', 'Very Poor', 'Poor', 'Average', 'Good', 'Very Good']

In [13]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [14]:
od = OrdinalEncoder(categories = [CURRENT_ENERGY_RATING, HOT_WATER_ENERGY_EFF,HOT_WATER_ENV_EFF, MAINHEAT_ENERGY_EFF,
                                  MAINHEAT_ENV_EFF, LIGHTING_ENERGY_EFF ,LIGHTING_ENV_EFF,MAINHEATC_ENERGY_EFF ,MAINHEATC_ENV_EFF,
                                  WINDOWS_ENERGY_EFF,WINDOWS_ENV_EFF,WALLS_ENERGY_EFF, WALLS_ENV_EFF ])

In [15]:
od.fit(jd[['CURRENT_ENERGY_RATING', 'HOT_WATER_ENERGY_EFF','HOT_WATER_ENV_EFF', 'MAINHEAT_ENERGY_EFF','MAINHEAT_ENV_EFF', 'LIGHTING_ENERGY_EFF',
           'LIGHTING_ENV_EFF','MAINHEATC_ENERGY_EFF' ,'MAINHEATC_ENV_EFF', 'WINDOWS_ENERGY_EFF','WINDOWS_ENV_EFF',
           'WALLS_ENERGY_EFF', 'WALLS_ENV_EFF']])

OrdinalEncoder(categories=[['A', 'B', 'C', 'D', 'E', 'F', 'G'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor...rage', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good']])

In [18]:
jd.head()

,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,County,PPD Category Type,...,WALLS_ENV_EFF,MAINHEAT_ENERGY_EFF,MAINHEAT_ENV_EFF,MAINHEATC_ENERGY_EFF,MAINHEATC_ENV_EFF,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,CONSTITUENCY_LABEL,Year
0,35000,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,Average,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,Coventry South,1995
1,33000,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,Average,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,Coventry South,2000
2,54650,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,Average,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,Coventry South,2001
3,115000,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,Average,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,Coventry South,2005
4,36000,cv15ps,T,N,F,35,lower ford street,COVENTRY,WEST MIDLANDS,A,...,Poor,Good,Good,Average,Average,Very Good,Very Good,mains gas - this is for backwards compatibilit...,Coventry South,1995

In [20]:
jd_1 = od.fit_transform(jd[['CURRENT_ENERGY_RATING', 'HOT_WATER_ENERGY_EFF','HOT_WATER_ENV_EFF', 'MAINHEAT_ENERGY_EFF','MAINHEAT_ENV_EFF', 'LIGHTING_ENERGY_EFF',
           'LIGHTING_ENV_EFF','MAINHEATC_ENERGY_EFF' ,'MAINHEATC_ENV_EFF', 'WINDOWS_ENERGY_EFF','WINDOWS_ENV_EFF',
           'WALLS_ENERGY_EFF', 'WALLS_ENV_EFF']])

In [22]:
jd_1

array([[3., 4., 4., ..., 4., 3., 3.],
       [3., 4., 4., ..., 4., 3., 3.],
       [3., 4., 4., ..., 4., 3., 3.],
       ...,
       [3., 4., 4., ..., 3., 1., 1.],
       [3., 4., 4., ..., 3., 4., 4.],
       [3., 4., 4., ..., 3., 2., 2.]])

In [27]:
qwerty = od.fit(jd[['CURRENT_ENERGY_RATING', 'HOT_WATER_ENERGY_EFF','HOT_WATER_ENV_EFF', 'MAINHEAT_ENERGY_EFF','MAINHEAT_ENV_EFF', 'LIGHTING_ENERGY_EFF',
           'LIGHTING_ENV_EFF','MAINHEATC_ENERGY_EFF' ,'MAINHEATC_ENV_EFF', 'WINDOWS_ENERGY_EFF','WINDOWS_ENV_EFF',
           'WALLS_ENERGY_EFF', 'WALLS_ENV_EFF']])

In [28]:
qwerty

OrdinalEncoder(categories=[['A', 'B', 'C', 'D', 'E', 'F', 'G'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor...rage', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good'],
                           ['N/A', 'Very Poor', 'Poor', 'Average', 'Good',
                            'Very Good']])

In [16]:
jd[['CURRENT_ENERGY_RATING', 'HOT_WATER_ENERGY_EFF','HOT_WATER_ENV_EFF', 'MAINHEAT_ENERGY_EFF','MAINHEAT_ENV_EFF', 'LIGHTING_ENERGY_EFF',
           'LIGHTING_ENV_EFF','MAINHEATC_ENERGY_EFF' ,'MAINHEATC_ENV_EFF', 'WINDOWS_ENERGY_EFF','WINDOWS_ENV_EFF',
           'WALLS_ENERGY_EFF', 'WALLS_ENV_EFF']] = od.fit_transform(jd[['CURRENT_ENERGY_RATING', 'HOT_WATER_ENERGY_EFF','HOT_WATER_ENV_EFF', 'MAINHEAT_ENERGY_EFF','MAINHEAT_ENV_EFF', 'LIGHTING_ENERGY_EFF',
           'LIGHTING_ENV_EFF','MAINHEATC_ENERGY_EFF' ,'MAINHEATC_ENV_EFF', 'WINDOWS_ENERGY_EFF','WINDOWS_ENV_EFF',
           'WALLS_ENERGY_EFF', 'WALLS_ENV_EFF']])

In [17]:
jd.head()

,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,County,PPD Category Type,...,WALLS_ENV_EFF,MAINHEAT_ENERGY_EFF,MAINHEAT_ENV_EFF,MAINHEATC_ENERGY_EFF,MAINHEATC_ENV_EFF,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,CONSTITUENCY_LABEL,Year
0,35000,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,mains gas - this is for backwards compatibilit...,Coventry South,1995
1,33000,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,mains gas - this is for backwards compatibilit...,Coventry South,2000
2,54650,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,mains gas - this is for backwards compatibilit...,Coventry South,2001
3,115000,cv35pq,T,N,F,36,calvert close,COVENTRY,WEST MIDLANDS,A,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,mains gas - this is for backwards compatibilit...,Coventry South,2005
4,36000,cv15ps,T,N,F,35,lower ford street,COVENTRY,WEST MIDLANDS,A,...,2.0,4.0,4.0,3.0,3.0,5.0,5.0,mains gas - this is for backwards compatibilit...,Coventry South,1995

In [18]:
New = jd.copy()

In [90]:
New['CURRENT_ENERGY_RATING']

0         3.0
1         3.0
2         3.0
3         3.0
4         2.0
         ...
115367    3.0
115368    2.0
115369    3.0
115370    3.0
115371    3.0
Name: CURRENT_ENERGY_RATING, Length: 115372, dtype: float64

In [19]:
od1 = OrdinalEncoder()

In [35]:
New.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115372 entries, 0 to 115371
Data columns (total 43 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Price                          115372 non-null  int64
 1   Postcode                       115372 non-null  object
 2   Property Type                  115372 non-null  object
 3   Old/New                        115372 non-null  object
 4   Duration                       115372 non-null  object
 5   PAON                           115372 non-null  object
 6   Street_x                       115372 non-null  object
 7   District                       115372 non-null  object
 8   County                         115372 non-null  object
 9   PPD Category Type              115372 non-null  object
 10  CURRENT_ENERGY_RATING          115372 non-null  float64
 11  CURRENT_ENERGY_EFFICIENCY      115372 non-null  int64
 12  PROPERTY_TYPE                  115372 non-null  object
 13  BUILT_FORM                     115372 non-null  object
 14  CONSTITUENCY                   115372 non-null  object
 15  TRANSACTION_TYPE               115372 non-null  object
 16  ENVIRONMENT_IMPACT_CURRENT     115372 non-null  int64
 17  ENERGY_CONSUMPTION_CURRENT     115372 non-null  int64
 18  CO2_EMISSIONS_CURRENT          115372 non-null  float64
 19  CO2_EMISS_CURR_PER_FLOOR_AREA  115372 non-null  float64
 20  LIGHTING_COST_CURRENT          115372 non-null  int64
 21  HEATING_COST_CURRENT           115372 non-null  float64
 22  HOT_WATER_COST_CURRENT         115372 non-null  int64
 23  TOTAL_FLOOR_AREA               115372 non-null  float64
 24  ENERGY_TARIFF                  115372 non-null  object
 25  EXTENSION_COUNT                115372 non-null  float64
 26  NUMBER_HABITABLE_ROOMS         115372 non-null  float64
 27  NUMBER_HEATED_ROOMS            115372 non-null  float64
 28  HOT_WATER_ENERGY_EFF           115372 non-null  float64
 29  HOT_WATER_ENV_EFF              115372 non-null  float64
 30  WINDOWS_ENERGY_EFF             115372 non-null  float64
 31  WINDOWS_ENV_EFF                115372 non-null  float64
 32  WALLS_ENERGY_EFF               115372 non-null  float64
 33  WALLS_ENV_EFF                  115372 non-null  float64
 34  MAINHEAT_ENERGY_EFF            115372 non-null  float64
 35  MAINHEAT_ENV_EFF               115372 non-null  float64
 36  MAINHEATC_ENERGY_EFF           115372 non-null  float64
 37  MAINHEATC_ENV_EFF              115372 non-null  float64
 38  LIGHTING_ENERGY_EFF            115372 non-null  float64
 39  LIGHTING_ENV_EFF               115372 non-null  float64
 40  MAIN_FUEL                      115372 non-null  object
 41  CONSTITUENCY_LABEL             115372 non-null  object
 42  Year                           115372 non-null  int64
dtypes: float64(20), int64(7), object(16)
memory usage: 37.8+ MB

In [20]:
New[['MAIN_FUEL','CONSTITUENCY_LABEL','ENERGY_TARIFF','TRANSACTION_TYPE', 'CONSTITUENCY', 'BUILT_FORM', 'PROPERTY_TYPE',
    'PPD Category Type','County', 'District','Street_x','PAON','Duration', 'Old/New','Property Type','Postcode']] = od1.fit_transform(New[['MAIN_FUEL','CONSTITUENCY_LABEL','ENERGY_TARIFF','TRANSACTION_TYPE', 'CONSTITUENCY', 'BUILT_FORM', 'PROPERTY_TYPE',
    'PPD Category Type','County', 'District','Street_x','PAON','Duration', 'Old/New','Property Type','Postcode']])

In [21]:
New.head()

,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,County,PPD Category Type,...,WALLS_ENV_EFF,MAINHEAT_ENERGY_EFF,MAINHEAT_ENV_EFF,MAINHEATC_ENERGY_EFF,MAINHEATC_ENV_EFF,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,CONSTITUENCY_LABEL,Year
0,35000,1963.0,4.0,0.0,0.0,484.0,394.0,1.0,1.0,0.0,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,13.0,2.0,1995
1,33000,1963.0,4.0,0.0,0.0,484.0,394.0,1.0,1.0,0.0,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,13.0,2.0,2000
2,54650,1963.0,4.0,0.0,0.0,484.0,394.0,1.0,1.0,0.0,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,13.0,2.0,2001
3,115000,1963.0,4.0,0.0,0.0,484.0,394.0,1.0,1.0,0.0,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,13.0,2.0,2005
4,36000,284.0,4.0,0.0,0.0,470.0,1385.0,1.0,1.0,0.0,...,2.0,4.0,4.0,3.0,3.0,5.0,5.0,13.0,2.0,1995

In [38]:
New.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115372 entries, 0 to 115371
Data columns (total 43 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Price                          115372 non-null  int64
 1   Postcode                       115372 non-null  float64
 2   Property Type                  115372 non-null  float64
 3   Old/New                        115372 non-null  float64
 4   Duration                       115372 non-null  float64
 5   PAON                           115372 non-null  float64
 6   Street_x                       115372 non-null  float64
 7   District                       115372 non-null  float64
 8   County                         115372 non-null  float64
 9   PPD Category Type              115372 non-null  float64
 10  CURRENT_ENERGY_RATING          115372 non-null  float64
 11  CURRENT_ENERGY_EFFICIENCY      115372 non-null  int64
 12  PROPERTY_TYPE                  115372 non-null  float64
 13  BUILT_FORM                     115372 non-null  float64
 14  CONSTITUENCY                   115372 non-null  float64
 15  TRANSACTION_TYPE               115372 non-null  float64
 16  ENVIRONMENT_IMPACT_CURRENT     115372 non-null  int64
 17  ENERGY_CONSUMPTION_CURRENT     115372 non-null  int64
 18  CO2_EMISSIONS_CURRENT          115372 non-null  float64
 19  CO2_EMISS_CURR_PER_FLOOR_AREA  115372 non-null  float64
 20  LIGHTING_COST_CURRENT          115372 non-null  int64
 21  HEATING_COST_CURRENT           115372 non-null  float64
 22  HOT_WATER_COST_CURRENT         115372 non-null  int64
 23  TOTAL_FLOOR_AREA               115372 non-null  float64
 24  ENERGY_TARIFF                  115372 non-null  float64
 25  EXTENSION_COUNT                115372 non-null  float64
 26  NUMBER_HABITABLE_ROOMS         115372 non-null  float64
 27  NUMBER_HEATED_ROOMS            115372 non-null  float64
 28  HOT_WATER_ENERGY_EFF           115372 non-null  float64
 29  HOT_WATER_ENV_EFF              115372 non-null  float64
 30  WINDOWS_ENERGY_EFF             115372 non-null  float64
 31  WINDOWS_ENV_EFF                115372 non-null  float64
 32  WALLS_ENERGY_EFF               115372 non-null  float64
 33  WALLS_ENV_EFF                  115372 non-null  float64
 34  MAINHEAT_ENERGY_EFF            115372 non-null  float64
 35  MAINHEAT_ENV_EFF               115372 non-null  float64
 36  MAINHEATC_ENERGY_EFF           115372 non-null  float64
 37  MAINHEATC_ENV_EFF              115372 non-null  float64
 38  LIGHTING_ENERGY_EFF            115372 non-null  float64
 39  LIGHTING_ENV_EFF               115372 non-null  float64
 40  MAIN_FUEL                      115372 non-null  float64
 41  CONSTITUENCY_LABEL             115372 non-null  float64
 42  Year                           115372 non-null  int64
dtypes: float64(36), int64(7)
memory usage: 37.8 MB

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
import xgboost as xgb
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score, mean_absolute_error, median_absolute_error, accuracy_score, precision_score,recall_score, f1_score, confusion_matrix, classification_report
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [44]:
train_df = New[New['Year'] > 2016]
train_df.shape

(20756, 43)

In [43]:
train_df.head()

,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,County,PPD Category Type,CURRENT_ENERGY_RATING,...,WALLS_ENV_EFF,MAINHEAT_ENERGY_EFF,MAINHEAT_ENV_EFF,MAINHEATC_ENERGY_EFF,MAINHEATC_ENV_EFF,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,CONSTITUENCY_LABEL,Year
19,2988.0,0.0,0.0,0.0,69.0,2059.0,1.0,1.0,0.0,4.0,...,2.0,4.0,4.0,3.0,3.0,4.0,4.0,12.0,1.0,2021
20,2988.0,0.0,0.0,0.0,69.0,2059.0,1.0,1.0,0.0,3.0,...,3.0,4.0,4.0,4.0,4.0,5.0,5.0,12.0,1.0,2021
45,764.0,4.0,0.0,0.0,142.0,119.0,1.0,1.0,0.0,3.0,...,1.0,4.0,4.0,4.0,4.0,1.0,1.0,12.0,0.0,2017
46,764.0,4.0,0.0,0.0,142.0,119.0,1.0,1.0,0.0,4.0,...,1.0,4.0,4.0,3.0,3.0,1.0,1.0,12.0,0.0,2017
50,2731.0,4.0,0.0,0.0,672.0,796.0,1.0,1.0,0.0,3.0,...,1.0,4.0,4.0,3.0,3.0,5.0,5.0,12.0,1.0,2017

In [41]:
test_df = New[New['Year'] <= 2016]
test_df.shape

(94616, 43)

In [45]:
X_train = train_df.drop(['Price'],axis=1)
y_train = train_df['Price']
X_test= test_df.drop(['Price'],axis=1)
y_test= test_df['Price']

In [56]:
model = LinearRegression()

In [57]:
model.fit(X_train, y_train)

LinearRegression()

In [58]:
r_sq = model.score(X_train, y_train)
print('coefficient of determination:', r_sq)

coefficient of determination: 0.34464270017828547

In [62]:
y_pred = model.predict(X_test)
MAE = mean_absolute_error(y_test, y_pred)
print(MAE)

47255.884736868844

In [63]:
X_test.head()

,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,County,PPD Category Type,CURRENT_ENERGY_RATING,...,WALLS_ENV_EFF,MAINHEAT_ENERGY_EFF,MAINHEAT_ENV_EFF,MAINHEATC_ENERGY_EFF,MAINHEATC_ENV_EFF,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,CONSTITUENCY_LABEL,Year
0,1963.0,4.0,0.0,0.0,484.0,394.0,1.0,1.0,0.0,3.0,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,13.0,2.0,1995
1,1963.0,4.0,0.0,0.0,484.0,394.0,1.0,1.0,0.0,3.0,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,13.0,2.0,2000
2,1963.0,4.0,0.0,0.0,484.0,394.0,1.0,1.0,0.0,3.0,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,13.0,2.0,2001
3,1963.0,4.0,0.0,0.0,484.0,394.0,1.0,1.0,0.0,3.0,...,3.0,4.0,4.0,1.0,1.0,2.0,2.0,13.0,2.0,2005
4,284.0,4.0,0.0,0.0,470.0,1385.0,1.0,1.0,0.0,2.0,...,2.0,4.0,4.0,3.0,3.0,5.0,5.0,13.0,2.0,1995

In [64]:
y_test.head()

0     35000
1     33000
2     54650
3    115000
4     36000
Name: Price, dtype: int64

In [60]:
y_pred

array([ 90763.79305185, 111291.92659592, 115397.55330474, ...,
       186720.88184851, 126401.18846063,  73776.84893089])

In [69]:
def clf_pipeline():
    
    #num_transformer = Pipeline(steps=[("scaler", StandardScaler())])
    #preprocessor = ColumnTransformer(transformers=[("num", num_transformer)], remainder="passthrough")
    
    liner_model = Pipeline(steps=[("clf", LinearRegression())])
    lasso_model = Pipeline(steps=[("clf",Lasso(alpha=0.01, max_iter=10e5))])
    rf_clf = Pipeline(steps=[("clf", RandomForestClassifier(n_estimators=100))])
    
    xgb_model = Pipeline(steps=[("clf",XGBRegressor(n_estimators=100, max_depth=7, eta=0.1, subsample=1.0, colsample_bytree=1.0))])
    pipelines = [rf_clf,xgb_model]
    return pipelines

In [61]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from math import sqrt

In [68]:
# fit models with train data
# look at model performance on test data
# evaluation metrics include accuracy, precision, recall, f1 score, confusion_matrix and classification report
clf_pipelines = clf_pipeline()
clf_eval = []



# predicting home prices in some area
#predicted_home_prices = mycity_model.predict(X)
#mean_absolute_error(y, predicted_home_prices)
for pipeline in clf_pipelines:
    pipeline.fit(X_train, y_train)
    y_pred = pipeline.predict(X_test)
    #print(pipeline,y_pred)
    model_name = pipeline.named_steps['clf'].__class__.__name__.split('.')[-1]
    MAE = mean_absolute_error(y_test, y_pred)
    MSE = mean_squared_error(y_test, y_pred)
    RMSE = sqrt(MSE)
    #accuracy = accuracy_score(y_test, y_pred)
    #precision = precision_score(y_test, y_pred, average="weighted")
    #recall = recall_score(y_test, y_pred, average="weighted")
    #f1 = f1_score(y_test, y_pred, average="weighted")
    #conf_mat = confusion_matrix(y_test, y_pred)
    #clf_report = classification_report(y_test, y_pred)
    clf_eval.append([model_name, MAE, MSE, RMSE])

# store evaluation metrics in a dataframe
clf_eval = pd.DataFrame(clf_eval)
clf_eval.columns = ["model", "MAE","MSE", "RMSE"]

# look at model accuracy, precision, recall and F1 score of test data
clf_eval[["model", "MAE","MSE", "RMSE"]]

                    model           MAE           MSE           RMSE
0  RandomForestClassifier  77889.522406  1.425706e+10  119402.910473
1            XGBRegressor  72698.879531  8.934692e+09   94523.499481

In [70]:
# fit models with train data
# look at model performance on test data
# evaluation metrics include accuracy, precision, recall, f1 score, confusion_matrix and classification report
clf_pipelines = clf_pipeline()
clf_eval = []



# predicting home prices in some area
#predicted_home_prices = mycity_model.predict(X)
#mean_absolute_error(y, predicted_home_prices)
for pipeline in clf_pipelines:
    pipeline.fit(X_train, y_train)
    y_pred = pipeline.predict(X_test)
    #print(pipeline,y_pred)
    model_name = pipeline.named_steps['clf'].__class__.__name__.split('.')[-1]
    MAE = mean_absolute_error(y_test, y_pred)
    MSE = mean_squared_error(y_test, y_pred)
    RMSE = sqrt(MSE)
    #accuracy = accuracy_score(y_test, y_pred)
    #precision = precision_score(y_test, y_pred, average="weighted")
    #recall = recall_score(y_test, y_pred, average="weighted")
    #f1 = f1_score(y_test, y_pred, average="weighted")
    #conf_mat = confusion_matrix(y_test, y_pred)
    #clf_report = classification_report(y_test, y_pred)
    clf_eval.append([model_name, MAE, MSE, RMSE])

# store evaluation metrics in a dataframe
clf_eval = pd.DataFrame(clf_eval)
clf_eval.columns = ["model", "MAE","MSE", "RMSE"]

# look at model accuracy, precision, recall and F1 score of test data
clf_eval[["model", "MAE","MSE", "RMSE"]]

                    model           MAE           MSE           RMSE
0  RandomForestClassifier  77980.139490  1.433170e+10  119715.097437
1            XGBRegressor  72698.879531  8.934692e+09   94523.499481

In [49]:
X_train

,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,County,PPD Category Type,CURRENT_ENERGY_RATING,...,WALLS_ENV_EFF,MAINHEAT_ENERGY_EFF,MAINHEAT_ENV_EFF,MAINHEATC_ENERGY_EFF,MAINHEATC_ENV_EFF,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,CONSTITUENCY_LABEL,Year
19,2988.0,0.0,0.0,0.0,69.0,2059.0,1.0,1.0,0.0,4.0,...,2.0,4.0,4.0,3.0,3.0,4.0,4.0,12.0,1.0,2021
20,2988.0,0.0,0.0,0.0,69.0,2059.0,1.0,1.0,0.0,3.0,...,3.0,4.0,4.0,4.0,4.0,5.0,5.0,12.0,1.0,2021
45,764.0,4.0,0.0,0.0,142.0,119.0,1.0,1.0,0.0,3.0,...,1.0,4.0,4.0,4.0,4.0,1.0,1.0,12.0,0.0,2017
46,764.0,4.0,0.0,0.0,142.0,119.0,1.0,1.0,0.0,4.0,...,1.0,4.0,4.0,3.0,3.0,1.0,1.0,12.0,0.0,2017
50,2731.0,4.0,0.0,0.0,672.0,796.0,1.0,1.0,0.0,3.0,...,1.0,4.0,4.0,3.0,3.0,5.0,5.0,12.0,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115367,3858.0,4.0,0.0,0.0,599.0,1898.0,1.0,1.0,1.0,3.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,12.0,1.0,2021
115368,3858.0,4.0,0.0,0.0,599.0,1898.0,1.0,1.0,1.0,2.0,...,1.0,5.0,5.0,3.0,3.0,4.0,4.0,13.0,1.0,2021
115369,2456.0,3.0,0.0,0.0,806.0,1710.0,1.0,1.0,1.0,3.0,...,1.0,4.0,4.0,4.0,4.0,5.0,5.0,12.0,2.0,2021
115370,4261.0,1.0,0.0,1.0,34.0,2269.0,1.0,1.0,1.0,3.0,...,4.0,4.0,4.0,3.0,3.0,1.0,1.0,12.0,0.0,2021
115371,4261.0,1.0,0.0,1.0,34.0,2269.0,1.0,1.0,1.0,3.0,...,2.0,4.0,4.0,3.0,3.0,3.0,3.0,12.0,0.0,2021

In [50]:
y_train

19        270000
20        270000
45        198000
46        198000
50        202500
           ...
115367    119500
115368    119500
115369    190000
115370    110000
115371    110000
Name: Price, Length: 20756, dtype: int64

In [71]:
model = LinearRegression()
model.fit(X_train, y_train)
r_sq = model.score(X_train, y_train)
print('coefficient of determination:', r_sq)
y_predLR = model.predict(X_test)
MAE_LR = mean_absolute_error(y_test, y_predLR)
print('MAE for LR is:', MAE_LR)

MSE_LR = mean_squared_error(y_test, y_predLR)
print('MSE for LR is:', MSE_LR)
RMSE_LR = sqrt(MSE_LR)
print('RMSEE for LR is:', RMSE_LR)

coefficient of determination: 0.34464270017828547
MAE for LR is: 47255.884736868844
MSE for LR is: 5145375613.646072
RMSEE for LR is: 71731.2736095357

In [72]:
modelRM = RandomForestClassifier(n_estimators=100)
modelRM.fit(X_train, y_train)
r_sqRM = modelRM.score(X_train, y_train)
print('coefficient of determination:', r_sqRM)
y_predRM = modelRM.predict(X_test)
MAE_RM = mean_absolute_error(y_test, y_predRM)
print('MAE for RM is:', MAE_RM)

MSE_RM = mean_squared_error(y_test, y_predRM)
print('MSE for RM is:', MSE_RM)
RMSE_RM = sqrt(MSE_RM)
print('RMSEE for RM is:', RMSE_RM)

coefficient of determination: 0.9968201965696666
MAE for RM is: 77833.42670372875
MSE for RM is: 14116447650.320042
RMSEE for RM is: 118812.65778661818

In [73]:
modelXGB = XGBRegressor(n_estimators=100, max_depth=7, eta=0.1, subsample=1.0, colsample_bytree=1.0)
modelXGB.fit(X_train, y_train)
r_sqXGB = modelXGB.score(X_train, y_train)
print('coefficient of determination for XGB:', r_sqXGB)
y_predXGB = modelXGB.predict(X_test)
MAE_XGB = mean_absolute_error(y_test, y_predXGB)
print('MAE for XGB is:', MAE_XGB)

MSE_XGB = mean_squared_error(y_test, y_predXGB)
print('MSE for XGB is:', MSE_XGB)
RMSE_XGB = sqrt(MSE_XGB)
print('RMSEE for XGB is:', RMSE_XGB)

coefficient of determination for XGB: 0.9523944212180437
MAE for XGB is: 72698.87953058696
MSE for XGB is: 8934691954.129374
RMSEE for XGB is: 94523.49948097231

In [74]:
modelLASSO = Lasso(alpha=0.01, max_iter=10e5)
modelLASSO.fit(X_train, y_train)
r_sqLASSO = modelLASSO.score(X_train, y_train)
print('coefficient of determination for LASSO:', r_sqLASSO)
y_predLASSO = modelLASSO.predict(X_test)
MAE_LASSO = mean_absolute_error(y_test, y_predLASSO)
print('MAE for LASSO is:', MAE_LASSO)

MSE_LASSO = mean_squared_error(y_test, y_predLASSO)
print('MSE for LASSO is:', MSE_LASSO)
RMSE_LASSO = sqrt(MSE_LASSO)
print('RMSEE for LASSO is:', RMSE_LASSO)

coefficient of determination for LASSO: 0.34464270013500364
MAE for LASSO is: 47254.78424854351
MSE for LASSO is: 5145256886.0594425
RMSEE for LASSO is: 71730.44601882414

In [75]:
model = ['Linear Regression','Random Forest', 'XGBOOST', 'LASSO']
R_SQUARED = [r_sq, r_sqRM, r_sqXGB, r_sqLASSO]
MAE = [MAE_LR,MAE_RM,MAE_XGB,MAE_LASSO]
MSE = [MSE_LR,MSE_RM,MSE_XGB,MSE_LASSO]
RMSE = [RMSE_LR,RMSE_RM,RMSE_XGB,RMSE_LASSO]

In [76]:
Result = pd.DataFrame()
Result['Model'] = model
Result['R_SQUARED'] = R_SQUARED
Result['MAE'] = MAE
Result['MSE'] = MSE
Result['RMSE'] = RMSE
Result

               Model  R_SQUARED           MAE           MSE           RMSE
0  Linear Regression   0.344643  47255.884737  5.145376e+09   71731.273610
1      Random Forest   0.996820  77833.426704  1.411645e+10  118812.657787
2            XGBOOST   0.952394  72698.879531  8.934692e+09   94523.499481
3              LASSO   0.344643  47254.784249  5.145257e+09   71730.446019

In [77]:
type(y_predLASSO)

numpy.ndarray

In [79]:
df_from_arr = pd.DataFrame(data=[y_predLR, y_predRM,y_predXGB,y_predLASSO])
pred_df = df_from_arr.T
pred_df.shape

(94616, 4)

In [80]:
pred_df.columns = ['y_predLR', 'y_predRM','y_predXGB','y_predLASSO']
pred_df.head()

        y_predLR  y_predRM     y_predXGB    y_predLASSO
0   90763.793052  100000.0  189954.71875   90763.736737
1  111291.926596  100000.0  189954.71875  111291.873808
2  115397.553305  100000.0  189954.71875  115397.501222
3  131820.060140  100000.0  189954.71875  131820.010879
4  269654.732884  282000.0  264216.00000  269654.717024

In [81]:
pred_df.insert(0, 'ID', range(0, 0 + len(pred_df)))
pred_df.head()

   ID       y_predLR  y_predRM     y_predXGB    y_predLASSO
0   0   90763.793052  100000.0  189954.71875   90763.736737
1   1  111291.926596  100000.0  189954.71875  111291.873808
2   2  115397.553305  100000.0  189954.71875  115397.501222
3   3  131820.060140  100000.0  189954.71875  131820.010879
4   4  269654.732884  282000.0  264216.00000  269654.717024

In [82]:
test_df = pd.read_csv('test_df.csv')
test_df.head()

,Unnamed: 0,Transaction unique identifier,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,...,MAINHEAT_ENERGY_EFF,MAINHEAT_ENV_EFF,MAINHEATC_ENERGY_EFF,MAINHEATC_ENV_EFF,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,ADDRESS,CONSTITUENCY_LABEL,Year
0,0,{5A77BC03-713A-4035-B903-5672E7238836},35000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,1995
1,1,{0B4E5EDA-15C3-410B-823C-4EC87A508052},33000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2000
2,2,{5337E544-5DCF-4130-B7C0-48C7916EAE55},54650,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2001
3,3,{BB19E2CF-3C1E-4C9E-8096-FFCDC4495F84},115000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2005
4,4,{CB2B2819-C4DB-4145-9F64-5674723FBAFF},36000,cv15ps,T,N,F,35,lower ford street,COVENTRY,...,Good,Good,Average,Average,Very Good,Very Good,mains gas - this is for backwards compatibilit...,"35, Lower Ford Street",Coventry South,1995

In [83]:
test_df.rename(columns = {
   'Unnamed: 0': 'ID'
}, inplace = True)
test_df.head()

,ID,Transaction unique identifier,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,...,MAINHEAT_ENERGY_EFF,MAINHEAT_ENV_EFF,MAINHEATC_ENERGY_EFF,MAINHEATC_ENV_EFF,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,ADDRESS,CONSTITUENCY_LABEL,Year
0,0,{5A77BC03-713A-4035-B903-5672E7238836},35000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,1995
1,1,{0B4E5EDA-15C3-410B-823C-4EC87A508052},33000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2000
2,2,{5337E544-5DCF-4130-B7C0-48C7916EAE55},54650,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2001
3,3,{BB19E2CF-3C1E-4C9E-8096-FFCDC4495F84},115000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Good,Good,Very Poor,Very Poor,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2005
4,4,{CB2B2819-C4DB-4145-9F64-5674723FBAFF},36000,cv15ps,T,N,F,35,lower ford street,COVENTRY,...,Good,Good,Average,Average,Very Good,Very Good,mains gas - this is for backwards compatibilit...,"35, Lower Ford Street",Coventry South,1995

In [85]:
test_df1 = pd.merge(test_df, pred_df, left_on = ['ID'], right_on = ['ID'])
test_df1.head()

,ID,Transaction unique identifier,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,...,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,ADDRESS,CONSTITUENCY_LABEL,Year,y_predLR,y_predRM,y_predXGB,y_predLASSO
0,0,{5A77BC03-713A-4035-B903-5672E7238836},35000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,1995,90763.793052,100000.0,189954.71875,90763.736737
1,1,{0B4E5EDA-15C3-410B-823C-4EC87A508052},33000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2000,111291.926596,100000.0,189954.71875,111291.873808
2,2,{5337E544-5DCF-4130-B7C0-48C7916EAE55},54650,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2001,115397.553305,100000.0,189954.71875,115397.501222
3,3,{BB19E2CF-3C1E-4C9E-8096-FFCDC4495F84},115000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2005,131820.060140,100000.0,189954.71875,131820.010879
4,4,{CB2B2819-C4DB-4145-9F64-5674723FBAFF},36000,cv15ps,T,N,F,35,lower ford street,COVENTRY,...,Very Good,Very Good,mains gas - this is for backwards compatibilit...,"35, Lower Ford Street",Coventry South,1995,269654.732884,282000.0,264216.00000,269654.717024

In [86]:
test_df1.head(30)

,ID,Transaction unique identifier,Price,Postcode,Property Type,Old/New,Duration,PAON,Street_x,District,...,LIGHTING_ENERGY_EFF,LIGHTING_ENV_EFF,MAIN_FUEL,ADDRESS,CONSTITUENCY_LABEL,Year,y_predLR,y_predRM,y_predXGB,y_predLASSO
0,0,{5A77BC03-713A-4035-B903-5672E7238836},35000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,1995,90763.793052,100000.0,189954.718750,90763.736737
1,1,{0B4E5EDA-15C3-410B-823C-4EC87A508052},33000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2000,111291.926596,100000.0,189954.718750,111291.873808
2,2,{5337E544-5DCF-4130-B7C0-48C7916EAE55},54650,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2001,115397.553305,100000.0,189954.718750,115397.501222
3,3,{BB19E2CF-3C1E-4C9E-8096-FFCDC4495F84},115000,cv35pq,T,N,F,36,calvert close,COVENTRY,...,Poor,Poor,mains gas - this is for backwards compatibilit...,"36, Calvert Close",Coventry South,2005,131820.060140,100000.0,189954.718750,131820.010879
4,4,{CB2B2819-C4DB-4145-9F64-5674723FBAFF},36000,cv15ps,T,N,F,35,lower ford street,COVENTRY,...,Very Good,Very Good,mains gas - this is for backwards compatibilit...,"35, Lower Ford Street",Coventry South,1995,269654.732884,282000.0,264216.000000,269654.717024
5,5,{CB2B2819-C4DB-4145-9F64-5674723FBAFF},36000,cv15ps,T,N,F,35,lower ford street,COVENTRY,...,Very Good,Very Good,mains gas (not community),"35, Lower Ford Street",Coventry South,1995,268778.755898,270000.0,274548.656250,268778.816769
6,6,{C097F7F4-6E62-41F0-BC30-46C797A4FA6D},12000,cv15ps,T,N,F,35,lower ford street,COVENTRY,...,Very Good,Very Good,mains gas - this is for backwards compatibilit...,"35, Lower Ford Street",Coventry South,1995,269654.732884,282000.0,264216.000000,269654.717024
7,7,{C097F7F4-6E62-41F0-BC30-46C797A4FA6D},12000,cv15ps,T,N,F,35,lower ford street,COVENTRY,...,Very Good,Very Good,mains gas (not community),"35, Lower Ford Street",Coventry South,1995,268778.755898,270000.0,274548.656250,268778.816769
8,8,{460DDE15-4025-411F-8F2F-F59BEC3FB597},65000,cv15ps,T,N,F,35,lower ford street,COVENTRY,...,Very Good,Very Good,mains gas - this is for backwards compatibilit...,"35, Lower Ford Street",Coventry South,2004,306605.373263,282000.0,264216.000000,306605.363751
9,9,{460DDE15-4025-411F-8F2F-F59BEC3FB597},65000,cv15ps,T,N,F,35,lower ford street,COVENTRY,...,Very Good,Very Good,mains gas (not community),"35, Lower Ford Street",Coventry South,2004,305729.396278,270000.0,274548.656250,305729.463496
10,10,{79B19868-18CF-4AFD-9660-83B535502A0C},27500,cv56ld,T,N,F,201,broomfield road,COVENTRY,...,Very Good,Very Good,mains gas (not community),"201, Broomfield Road",Coventry North West,1995,25187.801347,145000.0,143942.859375,25187.841792
11,11,{143D9B08-F7C2-4D28-B7FE-4F1BDFD03291},112000,cv56ld,T,N,F,201,broomfield road,COVENTRY,...,Very Good,Very Good,mains gas (not community),"201, Broomfield Road",Coventry North West,2014,103194.708815,145000.0,143942.859375,103194.762661
12,12,{FF2712B1-4C42-419C-BA6C-52F929EA1766},72500,cv36ll,S,N,F,4,chideock hill,COVENTRY,...,Poor,Poor,mains gas (not community),"4, Chideock Hill",Coventry South,1995,132549.105449,214000.0,266715.843750,132549.067604
13,13,{42092BC5-57A6-4220-A646-F33815714371},129000,cv36ll,S,N,F,4,chideock hill,COVENTRY,...,Poor,Poor,mains gas (not community),"4, Chideock Hill",Coventry South,2002,161288.492411,214000.0,266715.843750,161288.459503
14,14,{6121E81E-EC4C-44B6-A1F2-22005CC9F76B},242500,cv36ll,S,N,F,4,chideock hill,COVENTRY,...,Poor,Poor,mains gas (not community),"4, Chideock Hill",Coventry South,2014,210556.012917,214000.0,266715.843750,210555.988473
15,15,{33089E65-18CC-4EAB-AA5F-8E678D7B8EAF},67000,cv57nx,D,N,F,122,stonebury avenue,COVENTRY,...,Good,Good,mains gas (not community),"122, Stonebury Avenue",Coventry North West,1995,209301.811712,270000.0,275690.656250,209301.862993
16,16,{33089E65-18CC-4EAB-AA5F-8E678D7B8EAF},67000,cv57nx,D,N,F,122,stonebury avenue,COVENTRY,...,Very Good,Very Good,mains gas (not community),"122, Stonebury Avenue",Coventry North West,1995,194026.209694,270000.0,240139.265625,194026.088692
17,17,{7F233D8C-F71C-48B3-8751-B02355FF532F},212500,cv57nx,D,N,F,122,stonebury avenue,COVENTRY,...,Good,Good,mains gas (not community),"122, Stonebury Avenue",Coventry North West,2015,291414.345889,270000.0,275690.656250,291414.411277
18,18,{7F233D8C-F71C-48B3-8751-B02355FF532F},212500,cv57nx,D,N,F,122,stonebury avenue,COVENTRY,...,Very Good,Very Good,mains gas (not community),"122, Stonebury Avenue",Coventry North West,2015,276138.743870,270000.0,240139.265625,276138.636975
19,21,{891BDDD4-0A2D-495E-B5E4-BD6512642CB4},56700,cv23be,F,N,L,21,braemar close,COVENTRY,...,Good,Good,electricity (not community),"21, Braemar Close",Coventry North East,1995,151266.051919,250000.0,221914.359375,151266.018053
20,22,{504EE83E-92C5-453A-8467-4CB6481C719B},23950,cv23be,F,N,L,21,braemar close,COVENTRY,...,Good,Good,electricity (not community),"21, Braemar Close",Coventry North East,1996,103320.997987,170000.0,178340.562500,103320.899152
21,23,{E5C3A656-9E52-4CFF-91DD-5682F299D852},49000,cv59jt,S,N,F,24,the jordans,COVENTRY,...,Average,Average,mains gas - this is for backwards compatibilit...,"24, The Jordans",Coventry North West,1995,233378.586096,250000.0,221914.359375,233378.566336
22,24,{E5C3A656-9E52-4CFF-91DD-5682F299D852},49000,cv59jt,S,N,F,24,the jordans,COVENTRY,...,Poor,Poor,mains gas - this is for backwards compatibilit...,"24, The Jordans",Coventry North West,1995,185433.532163,170000.0,178340.562500,185433.447436
23,25,{C69E0DEF-ECB8-4561-AD9D-810F110A85AE},180000,cv59jt,S,N,F,24,the jordans,COVENTRY,...,Average,Average,mains gas - this is for backwards compatibilit...,"24, The Jordans",Coventry North West,2015,231908.853537,117000.0,201210.203125,231908.809130
24,26,{C69E0DEF-ECB8-4561-AD9D-810F110A85AE},180000,cv59jt,S,N,F,24,the jordans,COVENTRY,...,Poor,Poor,mains gas - this is for backwards compatibilit...,"24, The Jordans",Coventry North West,2015,256542.613790,117000.0,201210.203125,256542.573615
25,27,{2D09CC9E-4304-415F-8B9E-BD6B8017EAD6},30000,cv66fs,D,N,F,137,lythalls lane,COVENTRY,...,Very Good,Very Good,mains gas (not community),"137, Lythalls Lane",Coventry North East,1995,314021.387714,117000.0,201210.203125,314021.357414
26,28,{E23CCB12-B786-4CD9-9292-1E2A38EA4794},92500,cv66fs,D,N,F,137,lythalls lane,COVENTRY,...,Very Good,Very Good,mains gas (not community),"137, Lythalls Lane",Coventry North East,2001,97675.381926,145000.0,176551.640625,97675.441625
27,29,{7B83C869-2F14-4F5A-9100-AF66B38A2708},140000,cv66fs,D,N,F,137,lythalls lane,COVENTRY,...,Very Good,Very Good,mains gas (not community),"137, Lythalls Lane",Coventry North East,2015,82475.354148,172000.0,163208.531250,82475.407027
28,30,{5D1319FB-2D6A-41EA-9706-B2ED1CA4C6DA},19380,cv25ar,S,N,F,56,triumph close,COVENTRY,...,Poor,Poor,mains gas (not community),"56, Triumph Close",Coventry North East,1995,179787.916103,145000.0,176551.640625,179787.989908
29,31,{5D1319FB-2D6A-41EA-9706-B2ED1CA4C6DA},19380,cv25ar,S,N,F,56,triumph close,COVENTRY,...,Poor,Poor,mains gas (not community),"56, Triumph Close",Coventry North East,1995,164587.888324,172000.0,163208.531250,164587.955311

<bound method IndexOpsMixin.nunique of 0        {5A77BC03-713A-4035-B903-5672E7238836}
1        {0B4E5EDA-15C3-410B-823C-4EC87A508052}
2        {5337E544-5DCF-4130-B7C0-48C7916EAE55}
3        {BB19E2CF-3C1E-4C9E-8096-FFCDC4495F84}
4        {CB2B2819-C4DB-4145-9F64-5674723FBAFF}
                          ...
83004    {43ED29AE-3416-4258-ACDB-AB40A3914C01}
83005    {6BDA0085-1BD9-4D86-BA25-FD66D9EACC01}
83006    {29C0E2A4-148F-4C94-B206-F2DAE433E2B5}
83007    {1CA11A6A-8214-4061-9009-2773AA203F71}
83008    {2FA73698-B7EB-408B-8A8D-F66F485ABD26}
Name: Transaction unique identifier, Length: 83009, dtype: object>

In [88]:
test_df1.to_csv('test_df1.csv')